.personal {
    text-align: center;
    font-size: large;

}

.profile {
    text-align: center;
    font-size: large;
}

.table1 {
    text-align: center;
    font-size: large;
}

.table2 {
    text-align: center;
    font-size: large;
}


body {
    text-align: center;
}


.skill {
    font-size: large;
}

.hobbie {
    font-size: larger;
}